application/config/database.php
*/config/development
*/logs/log-*.php
*/logs/!index.html
*/cache/*
*/cache/!index.html
*.bak
.project
.buildpath
.settings
uploads/*
bbs/*
ucenter/*
utohome/*
api/*
include/*
uc_client/*
config.inc.php
kcfinder-2.51