/*关于我们侧边栏样式*/

/*-------- Page mission ---------*/
h2 img.miss{
	margin-right: 10px;
	vertical-align: bottom; /*让图片底部和文字底部对齐*/
}



/*-------- Page aboutus ---------*/
.article .ptop img{
	float: right;
	margin: 4px 0 0 15px;
}
table.data td,
table.data th{
	border: 1px solid #ddd;
	padding: 5px;
	text-align: left;
}
.compare{
	width: 100%;
}
.compare th{
	min-width: 80px;
}
.note-content{
	width: 720px;
	overflow-x: auto;
}
.note-content p{
	font-size: 14px;
	line-height: 30px;
}
.pagenate{
	margin: 10px 0;
}




/*--------- Page leader ----------*/
.know .left{
	width: 350px;
	float: left;
}
.know .right{
	margin: 0 0 0 15px;
	width: 330px;
	float: right;
	background: #990033;
	border-radius: 5px;
}
.know .over{
	border-radius: 5px;
	margin: 5px;
	background: #fff;
	padding: 5px;
	font-size: 12px;
}
.know .right h4{
	color: #fff;
	text-indent: 5px;
}
.know .over img{
	float: left;
	width: 140px;
	margin: 0 5px 0 0;
	height: 100px;
}
.know .they{
	float: right;
}
.person{
	overflow: hidden;
	margin: 30px 0 0 0;
}
.person img{
	margin: 0 0 0 10px;
	float: right;
	border:1px solid #ddd;
	padding:1px;
}
.person h4{
	margin: 0 0 10px 0;
	background: url("../images/separator.png") no-repeat left center;
	line-height: 30px;
	text-indent: 60px;
	border-bottom: 1px dashed #cccccc;
}
.person h4 span{
	color:#555555;
	margin: 0 0 0 30px;
}
.person h5{
	color: #333;
}




/*---------- Page contactus -----------*/
.method{
	margin: 20px 0 30px;
}
.method dt{
	margin: 0 0 5px;
	font-weight: bold;
	font-family: "微软雅黑";
	font-size: 16px;
}
.method dl {
  
  color: #60A6A2;
  float: left;
  margin: 0 90px 0 0;
  padding: 5px;
}
.method dd span{
	font-size: 16px;
	font-weight: bold;
}





/*----------- Page review -----------*/
.event {
	padding: 0 0 10px 0;
}
.event ul{
	margin-left: -10px;
}
.event li{
	width:224px;
	padding: 7px;
	overflow: hidden;
	font-size:12px;
	float: left;
}
.event li:hover{
	background: #eee;
}
.event li img{
	width: 220px;
	height: 140px;
	border:1px solid #ccc;
	padding: 1px;
}
.event li .detail{
	float: right;
}

p.note{
	text-indent: 10px;
}
p.pagenating{
	text-align: right;
}




/*------------ Page join --------------*/
.hire{
	margin: 20px 0 0 0;
}
.hire dl{
	margin:0 0 30px;
}
.hire h4{
	text-indent: -7px;
}
.hire dt{
	font-weight: bold;
	padding: 3px 0;
}
.hire dd{
	padding: 2px 0;
}



/*------------ Page pay --------------*/

.bank{
	width: 720px;
	margin: 10px 0;
}
.bank td{
	vertical-align: middle;
	border: 1px solid #ddd;
	padding: 3px 5px;
}
.bank .col1{
	width: 255px;
}
.bank .col2{
	width: 52px;
}
.bank .col3{
	width: 330px;
}
.bank .col4{
	width: 60px;
}