/*栏目主页样式*/
.pageintro{
	background: url("../images/background_pageintro.jpg") repeat-x scroll 0 bottom transparent;
	border-radius: 10px 0 0 0;
	margin-left: -20px;
	margin-top: -20px;
	margin-bottom: 10px;
	padding: 20px 20px 10px;
	width: 720px;
}

.sort{
	background: #F4F4F4;	
	height: 30px;
	line-height: 30px;
	padding: 0 5px;
}
.sort a{
	padding: 0 3px;
	text-decoration: none;
}
.pagenate{
	float: right;
}
.pagenate a:hover{
	text-decoration: underline;
}
.routelist{
	display: block;
}
.routelist li{
	display: block;
	float: left;
	width: 720px;
	border-bottom: 1px solid #dddddd;
	margin: 0 0 5px;
	padding:0 0 10px;
}
.routelist h2{
	line-height: 29px;
}
.routelist h2 a{
	font-size: 16px;
	color:inherit;
	text-decoration: none;
}
.routelist .days{
	display: block;	
	float: left;
	width: 29px;
	height: 29px;
	background: url(../images/ico_days.gif) no-repeat;
	text-align: center;
	color: #fff;
	margin:10px 10px 0 0;
}
.routelist dt{
	display: block;
	float: left;
	/*background: blue;*/
}
.routelist dt a{
	display: block;
}
.routelist dt img{
	margin: 0px;
	background: #fff;
	border: 1px solid #ddd;
	padding: 1px;
}
.routelist dd{
	display: block;
	float: right;
	width: 456px;
	padding:3px 0;
	margin: 0 0 0 20px;
	/*border-bottom: #9D9D9D 1px dotted;*/
}
.route-detail b.price{
	color: #EB6100;
	font-size: 17px;
}
.routelist dd.last{
	border-bottom: none;
}
.route-detail dd span{
	float: left;
	display: block;
	color: #434343;
	font-weight: bold;
	font-family: "微软雅黑";
	font-family: 13px;
}
.route-detail dd div{
	float: left;
	max-width: 290px;
}
/*.route-detail dd div span{
	color:#DB555C;
}*/
.route-detail dd span.discount .inbox{
	/*position: static;*/
	/*float: right;*/
	font-weight: normal;
	font-family: "宋体";
}

span.s-wrap {
  display: inline-block;
  margin: 0 0 0 20px;
  position: relative;
  z-index: 10;
  cursor: default;
}

.discount .inbox {
	display: none;
  background: none repeat scroll 0 0 #F8EFDA;
  border: 1px dotted #DDDDDD;
  border-radius: 5px 5px 5px 5px;
  font-size: 12px;
  height: auto;
  left: 0;
  line-height: 1.3;
  padding: 5px;
  position: absolute;
  top: 20px;
  width: 300px;
}
.discount i{
	background: #BF2303;
	padding: 1px;
	color: #fff;
	font-style: normal;
}
.discount em{
	color: red;
	font-style: normal;
	padding: 0 2px;
}

.route-detail .btn{
	float: right;
}
.datescroll div{
	height: 80px;
	line-height: 20px;
	padding:0 0 0 4px;
	overflow-y: scroll;
	border:1px solid #ddd;
	min-width: 250px;
}

/*---------主题旅行栏目页面----------*/





/*---------公司活动栏目页面----------*/
.event {
	padding: 0 0 10px 0;
}
.event li{
	width:224px;
	margin: 0 7px;
	overflow: hidden;
	font-size:12px;
	float: left;
}
.event li img{
	width: 220px;
	height: 110px;
	border:1px solid #ccc;
	padding: 1px;
}
.event li .detail,
.activity li .detail{
	float: right;
}
.activity li{
	display: block;
	float: left;
	clear: both;
	width: 100%;
	margin: 10px 0;
}
.activity img{
	width: 160px;
	height: 90px;
	border: 1px solid #ddd;
	padding: 1px;
	float: left;
	margin: 0 10px 0 0;
}