/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol {
	list-style-position: inside;
	list-style:none;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
input{
	vertical-align: middle;
}
h1,h2,h3,h4,h5{
	/*color:#DB555C;*/
	/*color:#60A6A2;*/
	/*color:#990033;*/
	color:#df5031;
	
	font-family:'Microsoft YaHei','SimSun';
}

h1{
	font-size:19px;
	margin:0 0 16px;
}
h2{
	font-size:18px;
	margin:9px 0 9px;
}
h3{
	font-size:16px;
	margin:8px 0;
}
h4{
	font-size:14px;
	margin:4px 0 0;
}
h5{
	font-size:12px;
	margin:0;
}
p{
	margin: 0 0 10px;
	line-height:20px;
}
strong,b{
	font-family: "微软雅黑";
	color: #434343;
}
b.red{
	color:#DB555C;
}
.h4inline{
	font-size:14px;	
	color:#DF5031;
	font-family: 'Microsoft YaHei','SimSun';
	font-weight: bold;
}
table em,
em.red{
	color:#DB555C;
	font-weight: bold;
}
label.error {
	float: none;
	color: red;
}
a{
	/*color: #60a6a2;*/
	color: #30625E;
	text-decoration: none;
}
a:hover{
	/*color: #8b6620;*/
	color: #DF5031;
}
/*NO IE 6*/
input[type='text'] {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #555555;
	height: 18px;
	line-height: 18px;
	padding: 3px;
	width: 193px;
}


/* COMMON STYLE */
.clearfix:after {
	clear: both;
	height: 0;
	visibility: hidden;
	content: '';
	display: block;
	font-size:0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

body{
	font-family:Arial,Helvetica,sans-serif,"宋体";
	font-size:12px;
	color:#333333;
	-webkit-text-size-adjust:none; /*chorme最小字体解决*/
	background:url("../images/long-bg.png") repeat-x left top #C9E1DB; 
	
	line-height: 20px;
}
.fright {
	float: right;
}

.fleft {
	float: left;
}

img, div {
	behavior: url(iepngfix.htc);;
}
.inline{
	display:inline;
}
.wrapper{
	background:url("../images/body-bg.jpg") no-repeat top center; 
}
.header{
	width: 1020px;
	margin: 0 auto;
	height:270px;
	position: relative;
	background: url('../images/banner-big.jpg') no-repeat center top;
	behavior: url(iepngfix.htc);
}
.header .wrap{
	margin:0 auto;
	height:100px;
}
.header .logo{
	display:block;
	float:left;
	margin:0 0 0 20px ;
	behavior: url(iepngfix.htc);
}
.content{
	width:1000px;
	min-height:350px;
	margin:0 auto;
	background:#f8efda;
	border-radius:0 0 10px 10px;
	border-top: none;
	border-right: 10px solid #30625E;
	border-bottom: 10px solid #30625E;
	border-left: 10px solid #30625E;
	position:relative;
}
/*导航样式*/
.nav{
	height:37px;
	position: absolute;
	bottom: 0;
	width:1020px;
	font-family: "微软雅黑";
	background:url("../images/nav-ul-bg.png") left bottom repeat-x;
}
.nav ul{
	height:37px;
	float:left;
	border-radius:0 5px 0 0;
	background:url("../images/nav-bg.png") repeat-x;
	padding: 0 2px 0 10px;
}
.nav li{
	float:left;
}
.nav li a {
    color: #FFFFFF;
    display: block;
    float: left;
    font-size: 16px;
    font-weight: bold;
    height: 35px;
    line-height: 35px;
    margin: 2px 0 0;
    padding: 0 15px;
    text-decoration: none;
    font-family: "宋体";
}

.nav li a:hover{
	color:#FDB94D;
	/*color:#990033;*/
	/*color: #888888;*/
}
.nav li a.active{
	background:url("../images/nav-a-bg.png") repeat-x;
	color:#990033;
	/*color:#8b6620;*/
	border-radius:5px 5px 0 0;
}

#n-index .header{
	background: url('../images/banner-big.jpg') no-repeat center top;
}
#n-trip .header{
	background: url('../images/banner-trip.jpg') no-repeat center top;
}
#n-theme .header{
	background: url('../images/banner-theme.jpg') no-repeat center top;
}
#n-customize .header{
	background: url('../images/banner-customize.jpg') no-repeat center top;
}
#n-company .header{
	background: url('../images/banner-company.jpg') no-repeat center top;
}
#n-about .header{
	background: url('../images/banner-about.jpg') no-repeat center top;
}




#n-index .a-index,
#n-trip .a-trip,
#n-theme .a-theme,
#n-customize .a-customize,
#n-company .a-company,
#n-about .a-about
{
	background:url("../images/nav-a-bg.png") repeat-x;
	/*color:#990033;*/
	color:#df5031;
	/*color:#8b6620;*/
	border-radius:5px 5px 0 0;
}
.n-ab .a-aboutus,
.n-co .a-contactus,
.n-jo .a-join,
.n-le .a-leader,
.n-mi .a-mission,
.n-re .a-review
{
	color: #df5031;
}

.breadcrumb{
	height: 40px;
	line-height: 40px;
	text-indent: 20px;
	font-size: 12px;
}
.aside{
	width:220px;
	min-height:300px;
	float:left;
	margin:0 0 0 10px;
}
.aside dl{
	background: #F0FCFB;
	padding: 0 0 5px 0;
}
.aside dt{
	background: url("../images/nav-bg.png") repeat-x scroll 0 0 transparent;
	color: #fff;
	border-radius: 0 0 36px 0;
	padding: 8px 0;
	margin: 0 0 5px 0;
	font-weight: bold;
	font-size: 14px;
	text-indent: 10px;
}
.aside dd a{
	text-indent: 20px;
	display: block;
	height: 25px;
	line-height: 25px;
	background: url('../images/arrow_rt.gif') no-repeat 10px center;
}
.aside dd:hover{
	color: #866820;
	cursor: pointer;
}
.aside img{
	margin: 0 0 0 10px;
}
.sidetop{
	background: #6ABFBA;
	padding: 10px 0 0 0;
	position: relative;
	border-radius: 5px;
}
.sidetop p{
	color: #fff;
	padding: 0 10px 8px;
	margin: 0;
}
.sidetop .arrow-bt{
	position: absolute;
	left: 12px;
	bottom: -6px;
}
.other li{
	background: #fff;
	border-radius: 5px;
	margin: 10px 0;
	padding: 0 0 5px 0;
}
.other li h4{
	text-indent: 10px;
	padding: 3px 0;
}
.other li img{
	width: 200px;
}

.article{
	width:720px;
	min-height:300px;
	padding:20px;
	float:right;
	margin:0 0 40px 10px;
	border-radius:15px 0 0 15px;
	background:#fff;
}
.footer{
	margin: 10px auto 15px;
	padding: 0 50px;
	width: 920px;
}
.footer p{
	margin: 0 0 2px 0;
}
.footnav a{
	margin: 0 10px;
	/*color: #DF5031;*/
}
.footer span{
	margin: 0 30px 0 10px;
}

.footnav span{
	float: right;
	margin: 0;
}

.zoomLay{
	display:block;
	position:absolute;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background:url("../images/zoom.png") right bottom no-repeat;
	/*opacity:0.2;*/
}


/*------------公用组件------------*/
/*按钮*/
.btn{
	background: url(../images/but.png) repeat-x;
	color: #fff;
	padding: 3px 5px;	
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
	border:1px solid #e8760c;
	cursor: pointer;
}
.btn:hover{
	background: url(../images/but-hover.png) repeat-x;
	color: #fff;
}

.btn-updating {
	background: url(../images/but-hover.png) repeat-x;
}

.btn-mask {
	position: relative;
	z-index: 3;
	width:100%;
}

div.separator{
	background: url("../images/sep-line2.png") no-repeat center center;
	width: 100%;
	height: 30px;
	margin: 20px 0;
}

/*表单*/
table.formtab{
	width: 95%;
}
.formtab td{
	padding:3px 0;
	line-height: 20px;
	text-align: left;	
	vertical-align: top;
}
.formtab td textarea{
	width:100%;
}
.formtab td.maxwidth{
	width: 435px;
}

a.online img{
	vertical-align: middle;
}



/*uto主页*/
.homelt{
	width: 700px;
	min-height: 400px;
	/*outline: 1px solid red;*/
	float: left;
	margin: 20px 0 20px 20px;
}
.homert{
	width: 240px;
	min-height: 400px;
	/*outline: 1px solid red;*/
	float:right;
	margin: 20px 20px 20px 0;
}
.slide img{
	width: 700px;
	height: 300px;
}
.homelt .col{
	background: #fff;	
	padding: 15px;
	float: left;
	margin: 10px 0;
}
.col h2{
	margin-top: 0;
}
.col h4{
	margin: 0 0 5px 0;
}
.col p{
	margin: 0 0 5px;
}
.col-tour img{
	width: 100px;
	height: 80px;
	float: left;
	margin: 0 10px 0 0;
	border: 1px solid #ddd;
	padding: 1px;
}

.col-tour dd{
	margin: 8px 0 0;
	border-top: 1px dashed #ddd;
}
.col-theme li{
	float: left;
	position: relative;
	display: block;
}
.col-theme img{
	margin: 0;
	float: left;
	outline: 1px solid #fff;
}
.col-theme li div{
	position: absolute;
	/*background: rgb(51,51,45);*/
	opacity: 0;
	background: url("../images/gallery-slider-content-bg.png") repeat scroll 0 0 transparent;
	color: #fff;
	height: 120px;
	padding: 5px;
}

.col-com ul{
	width: 420px;
	float: left;
}
.col-com ul li{
	width: 200px;
	float: left;
	min-height: 100px;
	margin: 0 10px 0 0;
}
.col-com ul li img{
	width: 200px;
	height: 180px;
}
.col-com dl{
	width: 200px;
	float: right;
}