/* CSS RESET */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
ol {
	list-style-position: inside;
	list-style:none;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,h2,h3,h4,h5{
	/*color:#DB555C;*/
	/*color:#60A6A2;*/
	color:#990033;
	
	font-family:'Microsoft YaHei','SimSun';
}

h1{
	font-size:20px;
	margin:0 0 10px;
	line-height: 28px;
}
h2{
	font-size:18px;
	margin:9px 0 9px;
}
h3{
	font-size:16px;
	margin:8px 0;
}
h4{
	font-size:14px;
	margin:4px 0;
}
h5{
	font-size:13px;
	margin:0;
}
p{
	margin: 0 0 10px;
	line-height:20px;
}
b{
	font-family: "微软雅黑";
}
b.red{
	color:#DB555C;
}
.h4inline{
	font-size:14px;	
	color:#990033;
	font-family: 'Microsoft YaHei','SimSun';
	font-weight: bold;
}
table em,
em.red{
	color:#DB555C;
	font-weight: bold;
}
label.error {
	float: none;
	color: red;
}
a{
	color: #60a6a2;
	text-decoration: none;
}
a:hover{
	color: #8b6620;
}
/*NO IE 6*/
input[type='text'] {
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	color: #555555;
	height: 18px;
	line-height: 18px;
	padding: 3px;
	width: 193px;
}

/* COMMON STYLE */
.clearfix:after {
	clear: both;
	height: 0;
	visibility: hidden;
	content: '';
	display: block;
	font-size:0;
}
.clearfix { display: inline-table; }
/* Hides from IE-mac \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* End hide from IE-mac */

body{
	font-family:Arial,Helvetica,sans-serif,"宋体";
	font-size:13px;
	color:#555555;
	-webkit-text-size-adjust:none; /*chorme最小字体解决*/
	background:url("../images/body-bg.jpg") repeat;
	line-height: 20px;
}

.fancyimg:hover{
/*	opacity: 0.8;
	-moz-opacity: 0.8;
	filter:alpha(opacity=8);*/
	cursor: url('../images/zoom-in.cur'), pointer !important;
}

.fright {
	float: right;
}

.fleft {
	float: left;
}

img, div {
	behavior: url(iepngfix.htc);;
}

.inline{
	display:inline;
}
.wrapper{
	background:url('../images/header-bg.png') repeat-x;
}
.header{
	height:425px;
	background: url('../images/banner-big.jpg') no-repeat center top;
	behavior: url(iepngfix.htc);
}
.header .wrap{
	width:1000px;
	margin:0 auto;
	height:100px;
	padding: 0 47px;
	background:url('../images/trans-bg.png') repeat-x;
}
.header .logo{
	display:block;
	float:left;
	margin:15px 0 0 0 ;
	behavior: url(iepngfix.htc);
}
.header .info{
	width:300px;
	float:right;
	color:#fff;
	font-size:15px;
	margin:29px 0 0 0;
}
.content{
	width:1000px;
	min-height:350px;
	margin:0 auto;
	background:#f8efda;
	border-radius:0 10px 10px 10px;
	position:relative;
}
/*导航样式*/
.nav{
	height:37px;
	width:1000px;
	margin:-78px auto 0;
	font-family: "微软雅黑";

}
.nav ul{
	height:37px;
	/*width:600px;*/
	float:left;
	border-radius:5px 5px 0 0;
	background:url("../images/nav-bg.png") repeat-x;
}
.nav li{
	float:left;
}
.nav li a{
	display:block;
	float:left;
	text-decoration:none;
	color:#fff;
	font-size:16px;
	line-height:37px;
	font-weight:bold;
	padding: 0 15px;
}
.nav li a:hover{
	color:#FDB94D;
	/*color:#990033;*/
	/*color: #888888;*/
}
.nav li a.active{
	background:url("../images/nav-a-bg.png") repeat-x;
	color:#990033;
	/*color:#8b6620;*/
	border-radius:5px 5px 0 0;
}
#n-index .a-index,
#n-trip .a-trip,
#n-theme .a-theme,
#n-customize .a-customize,
#n-company .a-company,
#n-about .a-about
{
	background:url("../images/nav-a-bg.png") repeat-x;
	color:#990033;
	/*color:#8b6620;*/
	border-radius:5px 5px 0 0;
}
.n-ab .a-aboutus,
.n-co .a-contactus,
.n-jo .a-join,
.n-le .a-leader,
.n-mi .a-mission,
.n-re .a-review
{
	color: #866820;
}

.breadcrumb{
	height: 40px;
	line-height: 40px;
	text-indent: 20px;
	font-size: 12px;
}
.aside{
	width:200px;
	min-height:300px;
	float:left;
	margin:0 0 0 20px;
}
.article{
	width:720px;
	min-height:300px;
	padding:20px;
	float:right;
	margin:0 0 40px 20px;
	border-radius:15px 0 0 15px;
	background:#fff;
}
/*.article p{
	margin:0 0 12px;
}*/
.footer{
	height:200px;
	background:#60a6a2;
	margin-top:-40px;
}
.des-p{
	margin:0 0 20px 0;
	line-height: 22px;
}
.des-l{
	width: 370px;
	float: left;
	min-height: 200px;
}
.des-l li{
	height: 30px;
	line-height: 30px;
}
.des-l .price{
	color: #EB6100;
	position: relative;
}
.des-l .price b{
	font-size: 17px;
}
.des-l span.s-wrap{
	position: relative;
	margin: 0 0 0 35px;
	display: inline-block;
}
.des-l span b{
	color: #EB6100;
}
.des-l .inbox{
	display: none;
	width: 300px;
	border: 1px dotted #ddd;
	border-radius: 5px;
	height: auto;
	padding: 5px;
	position: absolute;
	left: 0px;
	top: 25px;
	background: #F8EFDA;
	font-size: 12px;
	line-height: 1.3;
}
.des-l .explain{
	font-size: 12px;
	border-top: 1px dashed #ddd;	
	margin: 10px 0 0 0;
	padding: 10px 0 0 0;
}
.article .des-img{
	border: 1px solid #ddd;
	padding: 1px;
	float:right;
	margin:0 0 0 30px;
}
.join{
	background:#f4f4f4;
	border:1px solid #e1e1e1;
	border-radius:3px;
	min-height:100px;
	padding: 10px 10px 0;
	width: 700px;
}
.j-left{
	width:400px;
	float:left;
}
.j-left select{
	vertical-align: text-top;
	min-width:200px;
}
.j-right{
	margin: 25px 0 0 0;
	width:250px;
	border-left: 1px dashed #ccc;
	padding-left: 40px;
	float:right;
}
.j-right p{
	margin: 10px 0;
}
.vehicle{
	/*width: 80%;*/
}
.join p.apply{
	margin: 20px 0 20px 10px;
	float: left;
}
.join p.apply span{
	padding-left: 63px;
}
.join p.contact{
	margin: 20px 10px 20px 0;
	float: right;
	border-left: 1px dashed #ddd;
	padding-left: 50px;
}
span.tel{
	color:#EB6100;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
}
.sub-nav{
	margin:20px 0 10px;
}
.sub-nav li{
	border:1px solid #e7e7e7;
	float:left;
	color:#434343;
	padding:3px 15px;
	margin:0 10px 0 0;
	font-size:14px;
	position:relative;
	cursor:pointer;
}
.sub-nav li:hover{
	background:#60a6a2;
	color:#fff;
}
.sub-nav li span{
	position:absolute;
	top:27px;
	left:42px;
	width:7px;
	height:4px;
}
.sub-nav li.current{
	border:1px solid #60a6a2;
	background:#60a6a2;
	cursor:pointer;
	color:#fff;
}
.sub-nav li.current span{
	background:url("../images/subnav-arrow.gif") no-repeat;
}
.sub-wrap{
	width: 680px;
	margin: 30px 10px 10px 20px;
	min-height: 200px;
}
.unit{
	float:left;
	clear:both;
}
.imglist{
	margin:10px 0;
	padding: 4px 4px 34px 4px;
	background: url("../images/imglist-note.png") no-repeat right bottom #ebebeb;
}
.imglist a{
	display:block;
	float:left;
	width: 170px;
	height: 100px;
	overflow: hidden;
	background:#fff;
	margin: 4px;
}
.imglist a img{
	margin:0;
}

.tourmap img{
	border: 1px solid #ddd;
	padding: 1px;
}
.route dl{
	float:left;
	width:100%;
	padding:10px 0 0 0 ;
	background:#ECEDED;
}
.route dl.odd{
	background:#F3F8F8;
}
.route dt{
	width:15%;
	float:left;
	margin-right:5%;
	text-align:center;
}
.route dd{
	width:80%;
	float:left;
}
.fee dt{
	margin:10px 0 4px 0;
	font-weight:bold;
	font-size:15px;
}
.fee hr{
	border-top:1px dashed #cccccc;
	border-bottom:none;
	height:0px;
}
.zoomLay{
	display:block;
	position:absolute;
	right:0;
	bottom:0;
	width:100%;
	height:100%;
	background:url("../images/zoom.png") right bottom no-repeat;
	/*opacity:0.2;*/
}
select{
	border:1px solid #E1E1E1;
	color:#333333;
}
.schedule_table table {
	width: 100%;
	margin-bottom: 10px;
}

.schedule_table table td, .schedule_table table th{
	border: 1px solid #ddd;
	padding: 5px;
}
.inquiry-form {
	width: 500px;
	border: 1px solid #ddd;
	padding:10px;
}
.inquiry-form table{
	margin:10px 0;
}
.inquiry-form td{
	padding:3px 0;
	width: 300px;
}
.inquiry-form label.error {
	float: none;
}
.inquiry-form h3 {
	background: #60A6A2;
	color: #fff;
	padding: 5px;
}

#submit-inquiry {
	display: block;
	margin: 0 0 0 180px;
	text-align: center;
	width: 50px;
}
.customize h4,
form h4{
	margin: 5px 0;
	border-bottom: 1px dashed #ddd;
	padding: 3px 0;
}

/*------------公用组件------------*/
.btn{
	background: url(../images/but.png) repeat-x;
	color: #fff;
	padding: 3px 5px;	
	text-decoration: none;
	text-align: center;
	border-radius: 3px;
	border:1px solid #e8760c;
	cursor: pointer;
}
.btn:hover{
	background: url(../images/but-hover.png) repeat-x;
	color: #fff;
}

.btn-updating {
	background: url(../images/but-hover.png) repeat-x;
}

.btn-mask {
	position: relative;
	z-index: 3;
	width:100%;
}

div.separator{
	background: url("../images/sep-line.png") no-repeat center center;
	width: 100%;
	height: 30px;
	margin: 20px 0;
}

/*------------表单公用样式------------*/
table.formtab{
	width: 95%;
}
.formtab td{
	padding:3px 0;
	line-height: 20px;
	text-align: left;	
	vertical-align: top;
}
.formtab td textarea{
	width:100%;
}
.formtab td.maxwidth{
	width: 435px;
}

