/*-------------- 公用部分 --------------*/

/*线路内页选显卡*/
.sub-nav{
	margin:35px 0 10px;
}
.sub-nav li{
	background:#e7e7e7;
	float:left;
	color:#434343;
	padding:3px 15px;
	margin:0 10px 0 0;
	font-size:14px;
	position:relative;
	cursor:pointer;
}
.sub-nav li:hover{
	background:#60a6a2;
	color:#fff;
}
.sub-nav li span{
	position:absolute;
	top:26px;
	left:42px;
	width:7px;
	height:4px;
}
.sub-nav li.current{
	background:#60a6a2;
	cursor:pointer;
	color:#fff;
}
.sub-nav li.current span{
	background:url("../images/subnav-arrow.gif") no-repeat;
}

.sub-wrap{
	width: 680px;
	margin: 30px 10px 10px 20px;
	min-height: 200px;
}
.unit{
	float:left;
	clear:both;
}
.unit ol{
	list-style: decimal;
}
.unit ul{
	list-style: none;
}







/*-------------- 友途活动 --------------*/
/*头部描述*/
.describe{
	margin:0 0 20px 0;
	line-height: 22px;
}
.describe .des-img {
	border: 1px solid #ddd;
	padding: 1px;
	float:right;
	margin:0 0 0 20px;
}
.des-l{
	/*width: 370px;*/
	float: left;
	min-height: 200px;
}
.des-l li{
	height: 30px;
	line-height: 30px;
}
.des-l .price{
	color: #EB6100;
	position: relative;
}
.des-l .price b{
	font-size: 17px;
}
.des-l span.s-wrap{
	z-index: 10;
	position: relative;
	margin: 0 0 0 20px;
	display: inline-block;
}
.des-l span.s-wrap img{
	vertical-align: middle;
}
.des-l .discount{
}
.des-l .discount i{
	background: #BF2303;
	padding: 1px;
	color: #fff;
	font-style: normal;
}
.des-l .discount em{
	color: red;
	font-style: normal;
	padding: 0 2px;
}
.des-l span b{
	color: #EB6100;
}
.des-l .inbox{
	display: none;
	width: 300px;
	border: 1px dotted #ddd;
	border-radius: 5px;
	height: auto;
	padding: 5px;
	position: absolute;
	left: 0px;
	top: 25px;
	background: #F8EFDA;
	font-size: 12px;
	line-height: 1.3;
}
.des-l h5{
	border-top: 1px dashed #DDDDDD;
	color: #EB6100;
	display: block;
	width: 400px;
	margin: 10px 0 0;
}
.join{
	background:#F7F2D2;
	/*background:#f4f4f4;*/
	border:1px solid #FDB94D;
	border-radius:3px;
	min-height:100px;
	padding: 10px;
	width: 700px;
}
.j-left{
	width:400px;
	float:left;
}
.j-left .big{
	font-size: 16px;
}
.j-left select{
	vertical-align: text-top;
	min-width:200px;
}
.j-left .pad{

	padding: 0 0 0 120px;
}
.j-left .pad .promotion img{
	display: block;
	float: right;
	margin-right: 26px;
	margin-top: 20px;
}
.j-right{
	margin: 50px 0 0 0;
	width:230px;
	border-left: 1px dashed #ccc;
	padding-left: 40px;
	float:right;
}
.j-right p{
	margin: 10px 0 0 9px;
}

.imglist{
	margin:10px 0;
	padding: 4px 4px 34px 4px;
	background: url("../images/imglist-note.png") no-repeat right bottom #ebebeb;
}
.imglist a{
	display:block;
	float:left;
	width: 170px;
	height: 100px;
	overflow: hidden;
	background:#fff;
	margin: 4px;
}
.imglist a img{
	margin:0;
	cursor: url("http://www.i9yu.com/include/highslide/graphics/zoomin.cur"), pointer !important;
}

.tourmap img{
	border: 1px solid #ddd;
	padding: 1px;
}
.route dl{
	float:left;
	width:100%;
	padding:10px 0 0 0 ;
	background:#ECEDED;
}
.route dl.odd{
	background:#F3F8F8;
}
.route dt{
	width:15%;
	float:left;
	margin-right:5%;
	text-align:center;
}
.route dd{
	width:80%;
	float:left;
}
.fee dt{
	margin:10px 0 4px 0;
	font-weight:bold;
	font-size:15px;
}
.fee hr{
	border-top:1px dashed #cccccc;
	border-bottom:none;
	height:0px;
}

select{
	border:1px solid #E1E1E1;
	color:#333333;
}
.schedule_table table {
	width: 100%;
	margin-bottom: 10px;
}

.schedule_table table td, .schedule_table table th{
	border: 1px solid #ddd;
	padding: 5px;
}
.inquiry-form {
	width: 500px;
	border: 1px solid #ddd;
	padding:10px;
}
.inquiry-form table{
	margin:10px 0;
}
.inquiry-form td{
	padding:3px 0;
	width: 300px;
}
.inquiry-form label.error {
	float: none;
}
.inquiry-form h3 {
	background: #60A6A2;
	color: #fff;
	padding: 5px;
}

#submit-inquiry {
	display: block;
	margin: 0 0 0 180px;
	text-align: center;
	width: 50px;
}
.customize h4,
form h4{
	margin: 5px 0;
	border-bottom: 1px dashed #ddd;
	padding: 3px 0;
	text-align: left;
}





/*-------------- 主题旅行 --------------*/

.join p.apply{
	margin: 20px 0 20px 10px;
	float: left;
}
.join p.apply span{
	padding-left: 63px;
}
.join p.contact{
	margin: 20px 50px 20px 0;
	float: right;
	border-left: 1px dashed #ddd;
	padding-left: 50px;
}
span.tel{
	color:#EB6100;
	font-size: 16px;
	font-weight: bold;
	font-family: Arial;
}

.des-l .m-time b{
	font-size: 16px;
}








/*-------------- 公司活动 --------------