<!--{template header}-->
<h2 class="title"><img src="image/app/blog.gif" />订单</h2>
<div class="tabs_header">
	<ul class="tabs">
		<li class="active"><a href="space.php?uid=$space[uid]&do=$do&view=me"><span>我的订单</span></a></li>	
	</ul>
</div>
<div class="list">
	<ul>
		<!--{loop $orderlist $list}-->
		<li>
			<span >{$list[uuid]}</span>
			<a href="cp.php?ac=share&type=order&id=$list[oid]" id="a_share_$list[oid]" onclick="ajaxmenu(event, this.id, 1)" class="a_share">分享</a>
			<h4><a href="space.php?uid=$space[uid]&do=order&id=$list[oid]" target="_blank">{$list[title]}</a></h4>
		</li>
	<!--{/loop}-->
	</ul>
</div>
<!--{template footer}-->